.wrapper.open .container {
  margin-left: 80px;
}

.wrapper .container {
  padding: 0.8rem 1rem;
  min-height: 100vh;
  width: 100%;
  margin-left: 250px;
  width: auto;
  background: #f4faff;
}

@media (max-width: 768px) {
  .wrapper .container {
    margin-left: 0 !important;
  }
}
