<div class="websites-wrapper" *ngIf="websites">

  <span class="title">Websites availables</span>
  <div class="card card-website" *ngFor="let website of websites">
    <figure>
      <img [src]="website.image" alt="website-image" onerror="this.src='/assets/images/not-found-image.jpg'">
    </figure>
    <div class="card-body">
      <span class="w-title">{{website.name}}</span>
      <p class="w-desc">{{website.description}}</p>
      <div class="bottom">
        <div class="buttons">
          <button class="btn btn-primary">Subscribe</button>
          <a [href]="website.link" target="_blank" class="w-link">View original site</a>
        </div>
      </div>
    </div>
  </div>
</div>