<div class="register-container">
  <form>
    <span class="sign-on">Register</span>
    <label for="email" class="floating">
      <input type="text" id="email" placeholder="email">
      <span>Email</span>
    </label>
    <label for="password" class="floating">
      <input type="password" id="password" placeholder="password">
      <span>Password</span>
    </label>
    <label for="confirm-password" class="floating">
      <input type="password" id="confirm-password" placeholder="confirmar password">
      <span>Confirmar Password</span>
    </label>
    <button class="btn btn-primary btn-lg">Ingresar</button>
  </form>
  <div _ngcontent-vhs-c8="" class="divisor">
    <div _ngcontent-vhs-c8="" class="line"></div><span _ngcontent-vhs-c8="">o</span>
    <div _ngcontent-vhs-c8="" class="line"></div>
  </div>
  <div class="has-account">
    <span>¿Ya tienes una cuenta?</span>
    <a (click)="changePage()" class="link">Iniciar Sesión</a>
  </div>
</div>