<nav class="sidebar open">
  <div class="logo-details">
    <i class='bx bx-news icon'></i>
    <div class="logo_name">InfoReader</div>
    <i class='bx bx-menu toggled' #bxMenuIcon (click)="toggled(bxMenuIcon)"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="#">
        <i class='bx bx-world'></i>
        <span class="links_name">News</span>
      </a>
      <span class="tooltip">News</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-star'></i>
        <span class="links_name">Preferences</span>
      </a>
      <span class="tooltip">Preferences</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-bookmark'></i>
        <span class="links_name">Saved</span>
      </a>
      <span class="tooltip">Saved</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Configuration</span>
      </a>
      <span class="tooltip">Configuration</span>
    </li>
  </ul>
  <div class="profile">
    <div class="profile-details">
      <img
        src="https://images.unsplash.com/photo-1515621061946-eff1c2a352bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=789&q=80"
        alt="profileImg">
      <span class="username"> userfadsname </span>
      <i class='bx bx-log-out' id="log_out"></i>
    </div>
  </div>

</nav>