<nav class="sidebar open">
  <div class="logo-details">
    <i class='bx bx-news icon'></i>
    <span class="logo_name">InfoReader</span>
  </div>
  <ul class="nav-list">
    <li>
      <a routerLink="/">
        <i class='bx bx-news'></i>
        <span class="links_name">News</span>
      </a>
      <span class="tooltip">News</span>
    </li>
    <li>
      <a (click)="navigate('/explore')">
        <i class='bx bx-world'></i>
        <span class="links_name">Explore</span>
      </a>
      <span class="tooltip">Explore</span>
    </li>
    <li>
      <a (click)="navigate('/feed/saved')">
        <i class='bx bx-bookmark'></i>
        <span class="links_name">Saved</span>
      </a>
      <span class="tooltip">Saved</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Configuration</span>
      </a>
      <span class="tooltip">Configuration</span>
    </li>
  </ul>
  <div class="profile" *ngIf="userActive">
    <div class="profile-details">
      <figure class="box-image">
        <img
          src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
          alt="img-user">
      </figure>
      <span class="username"> {{userActive.email }} </span>
      <a href="" class="more">
        <i class='bx bx-dots-horizontal-rounded'></i>
      </a>
    </div>
  </div>

</nav>