<div class="home-section" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScroll()">
  <section class="recently">
    <span class="title-section recently">Latest news</span>
    <div class="news">
      <div class="card card-new" *ngFor="let feed of feeds" (click)="moreDetails(feed._id)">
        <figure *ngIf="feed.image">
          <img [src]="feed.image" alt="news-image" loading="lazy">
        </figure>
        <div class="card-body">
          <span class="new-title">{{feed.title | slice:0:(feed.image) ? 50: 100}}{{(feed.title.length > 20)?'...':'' }}
            <i class="bx bx-bookmark"></i></span>
          <!-- <p class="description">Esta es una descripcion de ejemplo...</p> -->
          <p class="date">
            {{ feed.pubDate | date: 'dd/MM/yyyy, h:mm a' }} &bull; by
            <span>{{ feed.website.name }}</span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="websites">
    <div class="card card-websites">
      <span class="card-title">Websites availables</span>
      <div class="item">
        <div class="item-content">
          <span class="website-name">Xataka</span>
          <p class="description">Descripcion del sitio web...</p>
          <a href="" class="url">ver noticias</a>
        </div>
        <figure>
          <img
            src="https://images.unsplash.com/photo-1651424146785-70dd7ba9a9ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="website-image">
        </figure>
      </div>
      <div class="item">
        <div class="item-content">
          <span class="website-name">Xataka</span>
          <p class="description">Descripcion del sitio web...</p>
          <a href="" class="url">ver noticias</a>
        </div>
        <figure>
          <img
            src="https://images.unsplash.com/photo-1651424146785-70dd7ba9a9ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="website-image">
        </figure>
      </div>
      <div class="item">
        <div class="item-content">
          <span class="website-name">Xataka</span>
          <p class="description">Descripcion del sitio web...</p>
          <a href="" class="url">ver noticias</a>
        </div>
        <figure>
          <img
            src="https://images.unsplash.com/photo-1651424146785-70dd7ba9a9ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="website-image">
        </figure>
      </div>
      <div class="more">
        <a href="">Show more...</a>
      </div>
    </div>
  </section>
  <button *ngIf="showGoUpButton" class="btn btn-dark" (click)="scrollTop()">GO UP</button>
</div>