<div class="home-section" *ngIf="feeds">
  <section class="recently">
    <span class="title-section recently">Latest news</span>
    <app-news-container [feeds]="feeds" (moreItems)="onScroll()"></app-news-container>
  </section>
  <section class="websites" *ngIf="websites">
    <app-websites-card [websites]="websites" *ngIf="websites"></app-websites-card>
  </section>
  <button *ngIf="showGoUpButton" class="btn btn-primary btn-top" (click)="scrollTop()">
    <i class='bx bx-up-arrow-alt'></i>
  </button>
</div>