.title-section {
  font-size: 32px;
  font-weight: bold;
}
.title-section.recently {
  margin-left: 0.5rem;
}

.home-section {
  display: grid;
  grid-template-columns: auto 300px;
  gap: 0.5rem;
  max-width: 1000px;
  margin: 0 auto;
}

.home-section .websites {
  width: 300px;
}

.btn-top {
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 30px;
  height: 3.5rem;
  width: 3.5rem;
  transition: 0.5s;
  border-radius: 50%;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 1200px) {
  .home-section .recently .news {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 768px) {
  .home-section {
    grid-template-columns: 100%;
  }
  .home-section .websites {
    opacity: 0;
  }

  .btn-top {
    bottom: 80px;
    right: 20px;
  }
}
