<div class="news" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScroll()">
  <!-- <app-new-card-recent *ngIf="recentFeed" [feed]="recentFeed"></app-new-card-recent> -->
  <div class="card card-new" *ngFor="let feed of feeds; let i = index">
    <div class="card-body">
      <div class="title-wrapper">
        <span class="website-name">{{ feed.website.name }}</span>
        <a (click)="moreDetails(feed._id)" class="new-title"> {{feed.title }}</a>
      </div>
      <figure *ngIf="feed.image">
        <img [src]="feed.image" alt="news-image" loading="lazy">
      </figure>
    </div>
    <div class="details-wrapper">
      <div class="details">
        <p class="date"> {{ feed.pubDate | date: 'dd-MM-yyyy' }} </p>
        <p class="bull">&bull;</p>
        <p class="read"> {{ 10 }} min </p>
      </div>
      <div class="options">
        <div class="option default">
          <i class="bx bx-show"></i>
          <span> {{ 10 }} </span>
        </div>
        <div class="separator"></div>
        <div class="option" (click)="modifyPreference(feed._id, 'liked')">
          <i class="bx bx-like" [class.bxs-like]="feed.liked"></i>
          <span *ngIf="feed.likes || feed.likes > 0"> {{ feed.likes }} </span>
        </div>
        <div class="separator"></div>
        <div class="option" (click)="modifyPreference(feed._id, 'saved')">
          <i class="bx bx-bookmark" [class.bxs-bookmark]="feed.inUser"></i>
        </div>
      </div>
    </div>
  </div>
</div>
