<div class="home-section" *ngIf="feeds">
  <section class="recently">
    <div class="title-wrapper">
      <span class="title-section">Explore news</span>
    </div>
    <div class="news-container">
      <app-card-new *ngIf="isLoading"></app-card-new>
      <app-news-container *ngIf="!isLoading" [feeds]="feeds" (moreItems)="onScroll()"></app-news-container>
    </div>
  </section>
  <section class="websites" *ngIf="websites">
    <app-websites-card [websites]="websites" *ngIf="websites"></app-websites-card>
  </section>
</div>