@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

body {
  background: var(--bg-color);
}

body.modal-open {
  height: 100vh;
  overflow: hidden;
  padding-right: 15px;
}

body.dark {
  --bg-color: #000;
  --bg-color-card: #16181c;
  --bg-color-card-2: #000;
  --bg-color-secondary: #e7e9ea;
  --font-color-primary: #e7e9ea;
  --box-shadow: none;
  --bg-hover: rgb(231, 233, 234, 0.1);
  --bg-button-follow: #ffffff;
}

:root {
  --primary-color: #0098fa;
  --secondary-color: #e66d9b;
  --bg-color: #f4faff;
  --bg-color-card: #ffffff;
  --bg-color-card-2: #ffffff;
  --bg-color-scroll: #a5a5a5;
  --bg-color-secondary: #262626;
  --bg-button-follow: transparent;
  --bg-hover: #e2e2e2;
  --font-color-primary: #000;
  --font-color-secondary: #71767b;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-scroll);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-scroll);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background: var(--bg-color-scroll);
}

.card {
  margin: 0.5rem 0;
  background: var(--bg-color-card);
  color: var(--font-color-primary);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0 1rem;
  font-size: 14px;
  border-radius: 8px;
  color: #fff;
  width: fit-content;
  font-weight: bold;
  height: 40px;
  width: 100%;
  transition: 0.2s;
}

.btn.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

.btn.btn-lg {
  height: 50px;
  font-size: 18px;
}

label.floating {
  position: relative;
}

label.floating:hover {
  cursor: text;
}

label.floating input {
  background: transparent;
  /* border-style: none; */
  border: 1px solid #71767b;
  border-radius: 8px;
  height: 54px;
  width: 100%;
  padding: 20px 10px 5px 10px;
  font-size: 16px;
  transition: 0.2s;
  color: var(--font-color-primary);
}
label.floating input::placeholder {
  opacity: 0;
}
label.floating span {
  color: #71767b;
  position: absolute;
  top: -15px;
  left: 11px;
  transform: translateY(30px);
  font-size: 16px;
  width: 95%;
  transition-duration: 0.2s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

label.floating:focus-within > span,
input:not(:placeholder-shown) + span {
  color: var(--primary-color);
  transform: translateY(0px);
  font-size: 12px;
  top: 7px;
}

label.floating:not(:focus-within) > span {
  color: #71767b;
}

input:focus,
input:focus-within {
  border: 1px solid var(--primary-color) !important;
}

.divisor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0;
}

.divisor .line {
  height: 1px;
  background: #71767b;
  flex: 1;
}

.divisor span {
  color: #71767b;
  font-size: 15px;
  margin: 0 10px;
  font-weight: 300;
}

.text-error {
  font-size: 13px;
  margin-left: 5px;
}

.error {
  color: var(--secondary-color);
}

.btn-subscribe {
  max-width: 95px;
  min-width: 90px;
  width: fit-content;
  border-radius: 30px;
  font-weight: 500;
  height: 36px;
}

.btn-following {
  background: var(--bg-button-follow) !important;
  border: 1px solid transparent !important;
  color: #000 !important;
  border-color: var(--primary-color) !important;
}

section > .title-wrapper {
  position: sticky;
  top: 0;
  backdrop-filter: blur(12px);
  z-index: 100;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.title-wrapper > span.title-section {
  font-size: 32px;
  font-weight: bold;
  margin-left: 1rem;
  color: var(--font-color-primary);
}

.news-container {
  margin: 0 1rem;
}
